.mainpage {
	background-color: #E1F8DC;
}


.title { /*title has some margin to seperate it from the Nav bar*/
	font-family: Inter, sans serif;
	text-align: center; 
	font-weight: bold;	
	font-size: 60px;
}


.navbar {
  list-style-type: none; /*remove all the list styles like the dots*/
  margin: 0; /*remove all the margin and padding */
  padding: 0;
  overflow: hidden; /*so that the list items dont leave the ul*/
  background-color: #03AC13;
}

li {
	float: left; /*list items float left then style it to float 25% of the nav bar*/
	width: 25%; /*each list items have a width of 25% of the nav bar*/
	
}

li a {
  display: block; 
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*remove all decorations on the navbar a elements*/
	font-size: 20px;
	
}

li a:hover {
  background-color: #32612D; /*when hover get this color*/
	cursor: pointer;
}

.aboutme {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	margin: 0;
	margin-top: 10px;
	text-decoration: underline;
	

}





